<div class="container my-4" id = "pendingEvents">


    <!--Carousel Wrapper-->
    <div id="pending-events-carousel" class="carousel slide carousel-multi-item" data-ride="carousel" >

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#pending-events-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#pending-events-carousel" data-slide-to="1"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">

            <div class="col-md-4">
              <a href="/event/active" class="event-click">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"> Event Name </h4>
                  <div class="card-text">
                    <p> guest name </p>
                    <p> guest name </p>
                    <p>
                    <button type="button" > Accept </button>
                    <button type="button" > Decline </button>
                    </p>
                  </div>
                </div>
              </div>
            </a>

            </div>


            <div class="col-md-4 clearfix d-none d-md-block">
              <a href="/event/active" class="event-click">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Event Name</h4>
                  <div class="card-text">
                    <p> guest name </p>
                    <p> guest name </p>
                    <p>
                    <button type="button" > Accept </button>
                    <button type="button" > Decline </button>
                    </p>
                    </div>
                </div>
              </div>
            </a>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <a href="/event/active" class="event-click">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Event Name</h4>
                  <div class="card-text">
                    <p> guest name </p>
                    <p> guest name </p>
                    <p>
                    <button type="button" > Accept </button>
                    <button type="button" > Decline </button>
                    </p>
                  </div>
                </div>
              </div>
            </a>

            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <a href="/event/active" class="event-click">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                  alt="Card image cap" >
                <div class="card-body">
                  <h4 class="card-title">Event Name</h4>
                  <div class="card-text">
                    <p> guest name </p>
                    <p> guest name </p>
                    <p>
                    <button type="button" > Accept </button>
                    <button type="button" > Decline </button>
                    </p>
                  </div>
                </div>
              </div>
            </a>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <a href="/event/active" class="event-click">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                  alt="Card image cap" >
                <div class="card-body">
                  <h4 class="card-title">Event Name</h4>
                  <div class="card-text">
                    <p> guest name </p>
                    <p> guest name </p>
                    <p>
                    <button type="button" > Accept </button>
                    <button type="button" > Decline </button>
                    </p>
                  </div>
                </div>
              </div>
            </a>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <a href="/event/active" class="event-click">
              <div class="card mb-2">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                  alt="Card image cap" >
                <div class="card-body">
                  <h4 class="card-title">Event Name</h4>
                  <div class="card-text">
                    <p> guest name </p>
                    <p> guest name </p>
                    <p>
                    <button type="button" > Accept </button>
                    <button type="button" > Decline </button>
                    </p>
                  </div>
                </div>
              </div>
            </a>
            </div>

          </div>

        </div>
        <!--/.Second slide-->
      </div>
      <!--/.Slides-->

      <a class="carousel-control-prev" href="#pending-events-carousel" role="button" data-slide="prev" color = "black">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#pending-events-carousel" role="button" data-slide="next" color = "black">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>


    </div>
    <!--/.Carousel Wrapper-->



  </div>
