<!--Navbar -->
<nav class="navbar bg-light navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
  <a class="navbar-brand" href="/">RoundTable</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
          <a href="/auth/google" class="btn btn-info"><span class="fa fa-google"></span> Log In </a>
    </ul>
</div>
</nav>
<!--/.Navbar -->
