<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js">  </script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"> </script>
</head>


<body>

  <%- include('partials/navbar', {currentUser:currentUser}) -%>
<h1 id="transactions_title"> My Transactions:</h1>
<table id = "transactions">
  <tr class = "trans_paid"  onclick="window.location='/event/past'" >
    <th class = "trans_payment">You paid player1 $10 </th>
    <th class = "trans_event"> for [eventName] </th>
    <th class = "trans_action"> </th>
  </tr>


  <tr class = "trans_paid"  onclick="window.location='/event/past'" >

    <th class = "trans_payment"> player2 paid you $15 </th>
    <th class = "trans_event"> for [eventName] </th>
    <th class = "trans_action"> </th>

  </tr>
  <tr class = "trans_unpaid"  >

    <th class = "trans_payment" onclick="window.location='/event/past'">  you owe player3 $15 </th>
      <th class = "trans_event" onclick="window.location='/event/past'"> for [eventName] </th>
    <th class = "trans_action"> <button type="button" onclick="window.location.href='/pay'"> pay</button>  </th>

  </tr>
  <tr class = "trans_unpaid"   >

    <th class = "trans_payment" onclick="window.location='/event/past'"> player4 owes you $10 </th>
    <th class = "trans_event" onclick="window.location='/event/past'"> for [eventName] </th>
    <th class = "trans_action"> <button type="button" onclick="window.location.href='/remind'">remind</button>  </th>

  </tr>

</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
